@import "./colors";

$bs-sm: 0 0.15rem 0.25rem 0 rgba($clr-primary, 0.2);
$bs-sm-dk: 0 0.15rem 0.25rem 0 rgba($clr-primary, 0.4);
$bs-base: 0 0.25rem 0.5rem 0 rgba($clr-primary, 0.2);
$bs-base-dk: 0 0.25rem 0.5rem 0 rgba($clr-primary, 0.4);
$bs-lg: 0 0.3rem 0.75rem 0 rgba($clr-primary, 0.3);
$bs-lg-dk: 0 0.3rem 0.75rem 0 rgba($clr-primary, 0.5);
$bs-xl: 0 0.5rem 1rem 0 rgba($clr-primary, 0.3);
$bs-xl-dk: 0 0.5rem 1rem 0 rgba($clr-primary, 0.5);
