@import "./colors";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
	background-color: $clr-light;
	color: $clr-text;
}

a {
	color: $clr-link;
	text-decoration: none;
	transition: color 0.1s ease-in-out;

	&:hover {
		color: $clr-link-hover;
	}
}

* {
	box-sizing: border-box;
}
